
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form id="frmDetail" method="post" action="@Url.Action(" InsertRecord")">
        Product ID:<input name="prodID" />
        Product Name:<input name="prodName" />
        <br />
        Category ID:<input name="catID" />
        <br />
        Category Name:<input name="catName" />
        <br />
        <input type="submit" value="Submit" name="action" />
        <input type="submit" value="Cancel" name="action" />
    </form>
</body>
</html>
